@charset "UTF-8";
/* 작성자 : 오근영
   작성일자 : 21.12.06
*/
/* 사진 부분 */

/* 본문 내용 */
.form {
	background-color: #ffffff;
	margin: 10px;
	border-radius: 4px;
    border: 1px solid #ddd;
    padding: 10px;
}

.box {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 4px;
    margin: 3px 0;
    font-size: 14px;
    width: 100%;
}

.field {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 4px;
    margin: 3px 0;
    font-size: 14px;
    width: 100%;
    height: 160px;
}