@charset "UTF-8";
section {
	text-align : left;
	width : 800px;
	padding : auto;
	margin-left : 200px;
}
nav {
	float:left;
	height:550px;
	background-color : #dcdcdc;
	width : 150px;
}

.box {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 4px;
    margin: 3px 0;
    font-size: 14px;
    width: 100%;
}
.form{
	background-color: #ffffff;
	margin: 10px;
	border-radius: 4px;
    border: 1px solid #ddd;
    padding: 10px;
}