body{
	font: °íµñ; font-size:14px;
}
.wrapper{
	width:100%;
	display:flex;
	flex-direction:column;
	align-items:center;
	margin-top: 100px;
	
}
.logoheader{
	margin : 10px;
	padding :10px;
	top: 20px;
}
#id {
	width:425px;
	height:40px;
	padding : 10;
}
#pw {
  width:425px;
	height:40px;
	padding : 10;
}
#pwCheck {
  width:425px;
	height:40px;
	padding : 10;
}
#name {
  width:425px;
	height:40px;
	padding : 10;
}
#year{
  width:160px;
	height:40px;
	padding : 10;
}
#s_month{
  width:140px;
	height:40px;
	padding : 10;
}
#s_day{
  width:140px;
	height:40px;
	padding : 10;
}
#gender{
  width:420px;
	height:40px;
	padding : 10;
}
.box_email{
   width:420px;
	height:40px;
	padding : 10;
}
.box_emailpull{
   width:100px;
	height:40px;
	padding : 10;
	cursor : pointer;
  background : white;
  border:1px solid;
}
.box_emailpull:hover{
  background : #2ECCFA;
  color : white;
  border : none;
}
.emailnum{
   width:220px;
	height:40px;
	padding : 10;
}
.check{
   width:65px;
	height:30px;
	padding : 20;
	cursor : pointer;
  background:white;
  border:1px solid;
}
.check:hover{
  background:#2ECCFA;
  color:white;
  border : none;
}
.signup{
  width:550px;
  height:60px;
  font-size : 20px;
  background: #2ECCFA;;
  cursor : pointer;
  border : none;
  color : white;
}
.signup:hover{
	background :#81DAF5;
	color : white;
	border : none;
}
.click_signup{
  margin-top:30px;
}
.id_check{
	color : black;
	cursor : pointer;
	-webkit-appearance:none;
	-moz-apperance:none;
	appearance:none;
	margin : 0;
	padding:0.5rem 1rem;
	background: white;
	display : inline-block;
	width : auto;
	cursor : pointer;
	border : 1px solid black;
	border-radius :4px;
  margin : 10px 0px 0px 0px ;
}
.id_check:hover{
  background : #2ECCFA;
  color : white;
  border : none;
  margin : 10px 0px 0px 0px ;
}
.coper{
  margin-top:40px;
}