@charset "UTF-8";
.errmsg { color: red; }
.greenmsg { color: #64dd17; }
body {
	background-color: #f3f3f3;
}
#signup-container {
	width: 600px;
	margin: 0 auto;
	display: grid;
	grid-template-rows: 200px auto 100px;
	grid-template-columns: 1fr;
	grid-template-areas:"header" "main" "footer";
	text-align: center;	
}
header { grid-area: header; }
main { grid-area: main; padding: 30px; text-align: left; }
footer { grid-area: footer; }
header img { width: 150px; height: 150px; }
.btn-container {
	display: flex;
	justify-content: space-between;
}
.signupform th {
	width: 100px;
	padding: 4px;
}
.signupform td {
	width: 400px;
	padding: 4px;
}
.signupform input, .signupform select, .signupform option {
	font-size: 16px;
	width: 70%;
	padding: 8px;
	border: solid 1px #f5f6f7;
	border-radius: 4px;
}
.signupform input:focused {
	border: #e4e4e4;
}
.signup {
  width: 100px;
  height: 45px;
  font-size : 20px;
  background-color: #2ECCFA;
  cursor : pointer;
  border : none;
  color : white;
}
.signup:hover { background :#81DAF5; }
.a-btn{
	all: unset;
	-webkit-appearance:none;
	-moz-apperance:none;
	appearance:none;
	margin : 0;
	padding:0.5rem 1rem;
	display : inline-block;
	width : auto;
	
	border :none;
	border-radius :4px;
	background-color: #1bb1ec;
	color: white;
	cursor : pointer;
}